body {
  font-family: sans-serif;
  font-weight: 300;
  width: 1366px;
  margin: 0 auto;
}

.container {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  width: 100%;
  padding-top: 50px;
}

.headerLink {
  color: #fff;
}

.headerLink:hover {
  color: #f26522;
}

.logo {
  margin-left: 155px;
  height: 44px;
  width: 46px;
  cursor: pointer;
  float: left;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
}

.logo:hover {
  background-image: url(../img/logoHover.png);
  background-repeat: no-repeat;
}

.headerLogoMilan {
  font-size: 29px;
  font-weight: 700;
  margin-left: 59px;
  margin-top: -4px;
  text-transform: uppercase;
}

.headerLogoHolidays {
  font-size: 18px;
  font-weight: 700;
  display: inherit;
  text-transform: uppercase;
}

.headerContactEmail {
  color: #fff;
  margin-top: 5px;
  text-align: right;
  padding-right: 148px;
  font-size: 18px;
}

.headerContactEmail a {
  text-decoration: none;
  color: #fff;
}

.headerContactPhone {
  color: #fff;
  margin-top: -15px;
  text-align: right;
  padding-right: 148px;
  font-size: 18px;
}

.itemTours {
  clear: both;
  width: 1366px;
  text-align: left;
  margin: 0 auto;
}

.ulItemsFirstLine {
  margin: 0;
  display: inline-block;
  list-style-type: none;
}

.ulItemsSecondLine {
  margin-top: 58px;
  display: inline-block;
  list-style-type: none;
}

.mainContent {
  width: 100%;
  padding-top: 22px;
}

.itemList {
  float: left;
  margin: auto 35px;
}

.itemList:first-child {
  margin-left: 114px;
}

.linkCaption {
  text-align: center;
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
  text-decoration: none;
}

.linkCaption:hover {
  color: #f26522;
}

.box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.boxSpan {
  top: 321px;
  transition-duration: 0.5s;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-top: -29px;
  display: block;
  width: 100%;
  height: 40px;
}

.box:hover span {
  top: 175px;
  background-color: #f26522;
}

.boxFrom {
  font-size: 10px;
  margin-left: -240px;
  margin-top: 1px;
  font-weight: 400;
}

.boxPrice {
  font-size: 20px;
  margin-left: -225px;
  margin-top: -10px;
}

.boxDetails {
  text-align: right;
  font-size: 14px;
  margin-right: 15px;
  margin-top: -33px;
  text-transform: capitalize;
}

.boxUnder {
  text-transform: capitalize;
}

.captionImg {
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 2px solid white;
  border-image: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0.05)) 1 49%;
}

.boxDetails:after {
  content: '\00A0 \02C3';
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.textFooter {
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.textFooter>span {
  text-transform: lowercase;
}