  .parent a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    color: green;
  }
  .parent {
    text-align: center;
  }
  .links {
    margin-left: 25px;
  }
  .parent li {
    display: inline;
  }
.h2 {
  font-family: sans-serif;
  text-align: center;
}
.p1 {
  font-family: sans-serif;
  text-align: center;
}
.p2 {
  font-family: sans-serif;
  text-align: center;
}
body{
  margin-left: 15%;
  max-width: 1340px;
}
.button {
  border: 1px solid white;
  width: 192px;
  font-size: 18px;
  color: rgba(255, 255, 255, 255);
  background-color: rgb(59, 109, 66);
}
.button-border {
  padding-left: 527px;
}
.p3 {
  font-family: sans-serif;
  text-align: right;
  font-size: 16px;
}