body {
  max-width: 1280px;
}

.title a {
  font-size: 80px;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
  color: #4bcaff;
}

.title span {
  color: black;
  text-transform: capitalize;
}

.title {
  margin-bottom: 45px;
  margin-top: 61px;
}

.nav-uppermenu a {
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 24px;
  color: white;
  margin-left: 70px;
  padding: 16px 26px 16px 26px;


}

.uppermenu ul li {
  display: inline-block;
}

.uppermenu>div {
  display: inline-block;
}

.uppermenu {
  width: 1280px;
  height: 69px;
  margin: 0 auto;
  background-color: #35444f;
  text-align: center;
  margin-bottom: 51px;
}
.nav-uppermenu a:hover {
  background-color: #222f3a;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.nav-leftmenu a {
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 24px;
  color: #485863;
  display: block;
  overflow: hidden;
  margin-top: 35px;
  margin-left: 40px;
}
.nav-leftmenu a:hover {
  color: #000;
  margin-right: 10px;
  background-color: #dbdbdb;
  text-align: center;
}


.leftmenu {
  border: 1px solid;
  border-color: #35444f;
  text-align: left;
  margin-bottom: 51px;
  display: block;
  width: 344px;
  height: 399px;
  float: left;
}
.img-border {
  width: 885px;
  height: 529px;
  border: 1px solid;
  border-color: #35444f;
  float: right;
  margin-bottom: 50px;
}
.image {
  margin-left: 297px;
  margin-top: 75px;
  transition: all 1s;
 
}

 .image:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  }


.p2 {
  margin-top: 30px;
  margin-bottom: 51px;
}
.text {
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
  font-size: 18px;
  float: right;
  width: 815px;
}
.nav-bottommenu a {
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 24px;
  color: #0c1927;
  margin-left: 50px;
}

.bottommenu ul li {
  display: inline-block;
}

.bottommenu>div {
  display: inline-block;
}

.bottommenu {
  width: 1280px;
  height: 69px;
  background-color: #b4b7ba;
  color: #000;
  float: right;
}
.nav-bottommenu a:hover {
  color: #3181a6;
}
.copyright {
  margin-left: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 24px;
  color: #000;
}